.main_info {
  width: 60%;
}

.img_info {
  width: 40%;
}

.flex_row {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 20px;
}

.buttons_div {
  padding: 20px;
}

.question_button {
  border: medium none;
  background-color: transparent;
  color: #00a9eb;
  margin: 20px auto;
  display: block;
}

.button_buy, .price_button {
  border: none;
  background-color: #00a9eb;
  color: white;
  text-transform: uppercase;
  padding: 4px 0px;
  width: 150px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}

.button_buy:hover, .price_button:hover {
  background-color: #00a9eb;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.successButton {
  background-color: #58D858 !important;
}

.short_info {
  font-size: 13px !important;
}

#thumbs li {
  display: inline-block;
}

#thumbs img {
  padding: 0 !important;
}

.img_set {
  background-color: #FFF;
}

#photos img {
  max-width: 300px;
}

#thumbs {
  clear: both;
}

.item_info_column {
  min-height: 351px;
  color: #000 !important;
}

.item_info_column li {
  list-style-type: circle;
}

#full_info .active {
  background-color: transparent;
}

#full_modes {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

#modes {
  width: 70%;
  height: 60%;
  background-color: #FFF;
  border: 1px solid #e7e7e7;
}

.modes {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  min-height: 200px;
  border-bottom: 1px solid #000;
}

.modes div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modes div > * {
  margin: 10px auto !important;
}
