$accent_color: #00a9eb

.main_info
	width: 60%
.img_info
	width: 40%
.flex_row
	display: flex
	justify-content: space-around
	align-items: stretch
	margin-bottom: 20px

.buttons_div
	padding: 20px

.question_button
	border: medium none
	background-color: transparent
	color: $accent_color
	margin: 20px auto
	display: block

.button_buy, .price_button
	border: none
	background-color: $accent_color
	color: white
	text-transform: uppercase
	padding: 4px 0px
	width: 150px
	box-shadow: 0px 0px 53px 10px #bbbbbb
.successButton
	background-color: #58D858 !important

.short_info
	font-size: 13px !important

#img_set
	//height: auto !important

#thumbs 
	li
		display: inline-block
	img
		padding: 0 !important

.img_set
	background-color: #FFF


#photos 
	li
		//position: relative !important
	img
		max-width: 300px
  //margin: 0 auto

#thumbs 
  //margin: 10px auto
  clear: both

#thumbs li 
  //float: left
  //margin: 0 2px
  //opacity: .6



.item_info_column		
	min-height: 351px
	color: #000 !important
	li
		list-style-type: circle

//nav tabs
#full_info .active
	background-color: transparent
	
//end nav tabs

//конфигуратор
#full_modes
	position: fixed
	width: 100%
	bottom: 0
	background-color: rgba(255,255,255,.5)
	color: #000
	display: none
	justify-content: center
	align-items: center
	z-index: 11
#modes
	width: 70%
	height: 60%
	background-color: #FFF
	border: 1px solid rgb(231, 231, 231)
.modes
	display: flex
	justify-content: space-around
	align-items: stretch
	min-height: 200px
	border-bottom: 1px solid #000
	div
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		>*
			margin: 10px auto !important
